@media (min-width:768px) {
   .form__btn,.card__btn,.theme__buy{
      &:hover{
         transform: translate(-2px,-2px);
         box-shadow: 2px 2px 5px rgb(11, 49, 143);
      }
   }
   .add__plus,.add__minus{
      &:hover{
         transition: all .2s;
         opacity: .5;
      }
   }
   .nav__item img{
      &:hover{
         opacity: .9;
      }
   }
   input.form__input,.input-div.input,
   .input-div>.input,.form__select-elem{
      &:hover{
      background:#2c3e5010;
      }
   }
}
   .form__btn,.card__btn,.theme__buy{
      transition: all .2s;
      &:active{
         transform: translate(0px,0px);
         box-shadow: 0px 0px 3px rgb(11, 49, 143);
      }
   }
   .add__plus,.add__minus{
      &:active{
         transition: all .2s;
         opacity: 0.7;
      }
   }
   .nav__item img{
      transition: all .2s;
      &:active{
         opacity: .3;
      }
   }
   input.form__input,.input-div.input,
   .input-div>.input,.form__select-elem{
      transition: all .2s;
      &:focus{
      background:#2c3e5030;
      }
   }
   .input-div{
      padding: 0;
      height: auto;
   }
   .add__checkbox-btn {
      transition: all .4s;
      &:active{
         background:#2c3e5010;
         color:#fff;
      }
   }